.card-hover{
    background-color: #fff ;
    text-align: center;
    padding: 10px;
   
}
/* .card:hover{
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.34);
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.34) ;
} */

.card-hover:hover{
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.34);
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.34) !important ;
}